.container {
    width: 100%;
    min-height: 100vh;

    display: flex;
    flex-direction: column;

    background: #F9F9F9;
}

.main-container{
    display: flex;
    flex-direction: column;
    gap: 8px;
    max-width: 450px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 8px;

    margin: 15px auto;
}

.main-container > input, .main-container > select {
    border: solid 1px #5B43DA;
    padding: 10px 15px;
    border-radius: 6px;
    width: 100%;
    transition: all 0.3s ease;
    outline: none;
}

.main-container > input:focus {
    border-color: #2980b9;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.title {
    color: #5B43DA;
    font-size: 24px;
    margin-bottom: 20px;
}

.button {
    background: #5B43DA;
    border: none;
    padding: 10px 20px;
    border-radius: 6px;
    color: white;
    margin-top: 12px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.button:hover {
    background: #2980b9;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.list {
    list-style: none;
    padding: 0;

    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 4px;
}

.list-item {
    background-color: #5B43DA;
    border-radius: 6px;
    color: white;
    display: flex;
    gap: 12px;
    justify-content: space-between;
    margin-bottom: 10px;
    padding: 10px 15px;
}

.question {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    width: 100%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    padding: 15px;
    border-radius: 8px;
    transition: all 0.3s ease;
}

.question:hover {
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
}


.correctAnswer {
    background: rgb(0, 172, 0);

    padding: 4px 8px;
    color: white;
    border-radius: 6px;
}

.userSelectedAnswer {
    background: #5B43DA;

    padding: 4px 8px;
    color: white;
    border-radius: 6px;

    z-index: 1000;
    
}